

.top-container {
    background-color:rgba(34,34,51,0.5);
}

.object-container {
    background-color:rgba(34,34,51,0.5);
    padding:20px 0px;
}

/* #story-status-2 {
    display:none;
} */
hr {
    background-color:#AACCFF;
}

.direction {
    height:150px;
}

.enemy {
    height:250px;
    margin-left: 30px;
}

.hidden {
    display:none;
}

.jumbotron {
    background:transparent;
}

.row-spacer {
    margin:40px;
}

body {
    background-color:transparent;
    color:#AACCFF;
}

html { 
    background: url(../images/nature.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }